h2{
    text-align: center;
    margin-top: 2%;
}

.continer_tab{    
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;    
}

.continer_tab table{
    width: 80%;
}